<!doctype html>
<html>
    <head>
        <title>Socket.IO chat</title>
        <style>
          * { margin: 0; padding: 0; box-sizing: border-box; }
          body { font: 13px Helvetica, Arial; }
          form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
          form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
          form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
          #messages { list-style-type: none; margin: 0; padding: 0; }
          #messages li { padding: 5px 10px; }
          #messages li:nth-child(odd) { background: #eee; }
        </style>
    </head>
        <body ng-app="App">
            <chat-window></chat-window>
            <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
            <script type="text/ng-template" id="/chat-window.html">
                <div id="messages" >
                    <div ng-repeat="message in $ctrl.messages track by $index">{{message}}</div>
                </div>
                <form name="message_form">
                  <input id="m" autocomplete="off" ng-model="$ctrl.new_message" />
                  <button type="button" ng-click="$ctrl.new_message==''||$ctrl.SendMessage()">Send</button>
                </form>
            </script>
            <script>
                angular.module('ChatClient', [])
                .service('Messager', function($rootScope){
                    // --
                    // Private Properties and Methods
                    // --
                    var _messages = [];

                    var socket = io();
                    // add message to _messages when socket receives message from server
                    socket.on('chat message', function(message){
                        $rootScope.$apply(function () {
                            _messages.push(message);
                        });
                    });

                    // --
                    // Public Methods
                    // --
                    return {
                        /**
                        * Returns a listing of messages.
                        *
                        * @return  {Array}               - reference of private _messages array.
                        */
                        GetMessages: function() {
                            return _messages;
                        },

                        /**
                        * Send Messag to Socket Server
                        * 
                        * @param {String}   message - text message 
                        * @return {null}            - Null
                        */
                        SendMessage: function(message) {
                            socket.emit('chat message', message);
                        }
                    }
                });

                angular.module('App', ['ChatClient'])
                .component('chatWindow', {
                    templateUrl: '/chat-window.html',
                    controller: function(Messager) {
                        // --
                        // Properties
                        // --
                        this.new_message = "";
                        this.messages = Messager.GetMessages();
                        
                        // --
                        // Methods
                        // --

                        /**
                         * SendMessge
                         * Call Messager Service to send input message to server
                         *
                         * @returns {null}                  - Null
                         */                        
                        this.SendMessage = function() {
                            Messager.SendMessage( this.new_message );
                            this.new_message = '';
                        };
                    }
                })
                
            </script>
    </body>
</html>
